<% for(var i=0; i < data.length; i++) {%>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">User</th>
                <th scope="col">Title</th>
                <th scope="col">description</th>
                <th scope="col">completed</th>
                <th scope="col">updated_at</th>
                <th scope="col">created_at</th>
                <th scope="col">completedDate</th>
                <th scope="col">Countdown</th>
                <th scope="col">delete</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <%= data[i].key %>
                </td>
                <td>
                    <%= data[i].user %>
                </td>
                <td>
                    <%= data[i].title %>
                </td>
                <td>
                    <%= data[i].description %>
                </td>
                <td>
                    <%= data[i].completed %>
                </td>


                <td>
                    <%= data[i].updated_at %>
                        </span>
                <td>
                    <%= data[i].created_at %>
                        </span>
                        <div class="completedDate">
                <td class="dateComplete" id=<%=data[i].key %>><%= datecomplete[i] %>
                        </div>
                <td class="dateCompleteCountdown" id=countdown<%=data[i].key %>>0</span>
                </td>
                <td>
                    <button class="delete-button" id=<%=data[i].key %>>delete</button>
                </td>
        </tbody>
    </table>
    <% } %>